.offcanvas-toc {
    box-shadow: -3px 0 8px rgba(0, 0, 0, 0.5);
}

.offcanvas-backdrop.show {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(9, 38, 121, 0.1) 33%, rgba(9, 38, 121, 0.6461178221288515) 66%);
}

@include media-breakpoint-only(xs) {
    .offcanvas-toc {
        box-shadow: none;
        width: 100%;
    }
}

.btn-print-container {
    background: #dedede;
    padding: 0 48px;

    .btn-print {
        font-size: 16pt;
        margin: 1em 0;
    }
}

@media print {
    .page-rulebook {

        a {
            text-decoration: none;
            color: #000;
            font-weight: 500;
        }

        // add page references
        // not enough pages to need this yet
        //a::after {
        //    content: " (page " target-counter(attr(href url), page) ")";
        //}
    }
}

.rulebook {
    padding-top: 1rem;
    font-family: 'Bitter', serif;

    ul {
        padding-left: 1.75rem;
    }

    & section > *:not(section, ul, .table-responsive) {
        //padding-left: 0.3rem;
    }

    .table-responsive {
        //margin-left: 0.3rem;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Barlow Condensed', sans-serif;
        -webkit-font-smoothing: antialiased;
        cursor: text;
        position: relative;

        $heading-margin: 0.3rem;

        margin-left: -$heading-margin;
        margin-right: -$heading-margin;

        padding-left: $heading-margin;
        padding-right: $heading-margin;
    }

    h2 {
        border-bottom: 3px solid $heading-border-color;
        padding-bottom: 5px;
    }

    h3 {
        border-bottom: 2px solid $heading-border-color;
        padding-bottom: 5px;
    }

    h4, h5 {
        font-weight: 600;
    }

    h5 {
        font-weight: 500;
        font-size: calc(1.2rem + 0.3vw);
    }

    .table {
        width: auto;
        font-family: 'Open Sans', sans-serif;

        thead tr th:empty {
            padding: 0;
        }
    }

    .img-bordered {
        border: 1px solid #7d8ba2;
    }

    @media print {
        :root {
        }

        h1:first-child {
            column-span: all;
        }

        column-fill: auto;
        column-count: 2;

        h2 {
            font-size: 16pt;
        }

        h3 {
            font-size: 14pt;
        }

        h4 {
            font-size: 12pt;
        }
        h5 {
            font-size: 10pt;
        }

        h2, h3, h4 {
            page-break-after: avoid;
        }
    }
}

.print-rules-toc {
    list-style: none;
    padding-left: 0;
    page-break-after: always;
    columns: 2;
    column-fill: auto;

    $margin: 0.5em;

    .toc-element-level-1 {
        font-weight: bold;
    }

    .toc-element-level-2 {
        font-weight: 500;
    }

    .toc-element-level-3 {
        margin-left: $margin;
    }

    .toc-element-level-4 {
        margin-left: $margin * 2;
    }

    .toc-element-level-5 {
        margin-left: $margin * 3;
    }

    .toc-element {
        display: flex;
        break-inside: avoid;

        .toc-item {
            white-space: nowrap;
        }

        .spacer {
            margin: 0 0.5em;
            overflow: hidden;
            flex-grow: 1;
            font-weight: normal;
        }

        a::after {
            flex-shrink: 0;
            content: ' p. ' target-counter(attr(href), page);
            white-space: nowrap;
            font-weight: normal;
        }
    }
}

$linkColor1: darken($link-color, 20%);
$linkColor1Hover: shift-color($linkColor1, 10%);

$linkColor2: darken($link-color, 10%);
$linkColor2Hover: shift-color($linkColor2, 10%);

.page-rulebook {

    .table-of-contents {

        --toc-link-color-1: #{$linkColor1};
        --toc-link-color-1-hover: #{$linkColor1Hover};

        --toc-link-color-2: #{$linkColor2};
        --toc-link-color-2-hover: #{$linkColor2Hover};

        --toc-link-color-3: #444;
        --toc-link-color-3-hover: #000;

        ul {
            padding-left: 0;
            list-style: none;

            li {
                a {
                    font-weight: bold;
                    color: var(--toc-link-color-1);

                    &:hover {
                        color: var(--toc-link-color-1-hover);
                        text-decoration: underline;
                    }
                }

                ul {
                    padding-left: 1rem;
                    margin-bottom: 1.5em;

                    li {
                        a {
                            font-weight: 500;
                            color: var(--toc-link-color-2);

                            &:hover {
                                color: var(--toc-link-color-2-hover);
                            }
                        }

                        ul {
                            margin-bottom: 0;

                            li {
                                a {
                                    font-weight: normal;
                                    color: var(--toc-link-color-3);

                                    &:hover {
                                        color: var(--toc-link-color-3-hover);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        a {
            text-decoration: none;
        }
    }

    .offcanvas-body {
        padding-top: 0;
    }

    .btn-table-of-contents {
        position: fixed;
        top: 60px;
        right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 1000;
    }

    .offcanvas-header {

        .btn-lock-toggle {
            border-radius: 0.375rem;

            padding: calc(var(--bs-offcanvas-padding-y) * 0.5) calc(var(--bs-offcanvas-padding-x) * 0.5);
            margin-top: calc(-0.5 * var(--bs-offcanvas-padding-y));
            margin-right: calc(-0.5 * var(--bs-offcanvas-padding-x));
            margin-bottom: calc(-0.5 * var(--bs-offcanvas-padding-y));

            width: 1em;
            height: 1em;
            border: 0;
            box-sizing: content-box;

            background: transparent;

            &.locked {
                .icon-unlocked {
                    display: none;
                }
            }

            &.unlocked {
                .icon-locked {
                    display: none;
                }
            }
        }
    }
}

@include color-mode(dark) {

    .page-rulebook {

        .table-of-contents {

            $linkColor1: lighten($link-color, 40%);
            $linkColor1Hover: lighten($linkColor1, 20%);

            $linkColor2: lighten($link-color, 25%);
            $linkColor2Hover: lighten($linkColor2, 20%);

            $linkColor3: #afaeae;
            $linkColor3Hover: lighten($linkColor3, 20%);

            --toc-link-color-1: #{$linkColor1};
            --toc-link-color-1-hover: #{$linkColor1Hover};

            --toc-link-color-2: #{$linkColor2};
            --toc-link-color-2-hover: #{$linkColor2Hover};

            --toc-link-color-3: #afaeae;
            --toc-link-color-3-hover: #fff;
        }
    }
}