$scale: 1;

$card-width: 180pt;
$card-height: 252pt;

$page-width: 8.5 * 72pt;
$page-height: 11 * 72pt;

@import 'mixins/page-cards';

.page-card-grid {
    box-sizing: content-box;
}

.card-grid-container-to-scale-print {
    @include pageCards($scale);

    .card {
        width: $card-width;
        height: $card-height;
    }


    .split-card {
        .card {
            height: $card-height * 0.5;
        }
    }

    $side-margin: ($page-width - $card-width * 3) * 0.5;
    $top-margin: ($page-height - $card-height* 3) * 0.5;

    .page-card-grid {
        display: grid;
        grid-template-columns: repeat(3, 180pt);
        grid-template-rows: repeat(3, 252pt);
        justify-content: center;
        align-content: normal;
        gap: 1px;
        width: $card-width * 3;
        height: $card-height * 3;

        padding: $top-margin $side-margin;
    }
}

.card-grid-container-flex-landscape-print {

    @include pageCards(1.34);

    .page-card-grid {
        padding: 32pt 48pt;
        display: grid;
        grid-template-columns: repeat(3, 33.3333%);
        grid-template-rows: repeat(2, auto);
        align-content: space-between;
        justify-content: space-around;
        gap: 1px;
    }

    .page-card-grid {
        padding: 36pt;
    }

    .card {
        height: auto;
        width: auto;
    }

    .card-content-container {
        padding-bottom: 6pt;
    }
}
