.container-quick-reference {

    h3 {
        border-bottom: 3px solid $heading-border-color;
        padding-bottom: 5px;
    }

    h4 {
        border-bottom: 2px solid $heading-border-color;
        padding-bottom: 5px;
    }

    ul {
        padding-left: 1.25rem;

        ul {
            margin: 0.5rem 0;
        }

        li {
            line-height: 1.25;
            margin-bottom: 0.5rem;
        }
    }

    table:not(.table) {
        margin: 5px 0;
        width: auto;

        border: 1px solid #808080;

        th {
            background: #eee;
            font-weight: 500;
        }

        th,
        td {
            padding: 2px 5px;
        }
    }

    table {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media print {
    :root {
        font-size: 10px;
    }

    .quick-reference-heading {
        font-size: 1.2rem;
        font-family: 'Barlow Condensed', sans-serif;
        column-span: all;
    }

    .container-quick-reference {
        column-fill: auto;
        column-count: 3;
        column-gap: 0;

        $border-color: #ababab;

        h3 {
            font-size: 1.5rem;
            border-bottom: 0;
            padding-bottom: 0;
        }

        h4 {
            font-size: 1.25rem;
            border-bottom: 0;
            padding-bottom: 0;
        }

        h2, h3, h4, table {
            page-break-inside: avoid;
            page-break-after: avoid;
        }

        section {
            $border-color: #b7b7b7;
            padding: 10px;
            outline: 1px solid $border-color;
            border: 1px solid $border-color;
            page-break-inside: avoid;

            &:not(:first-of-type) {
                //margin-top: 0.5rem;
            }

            ul:last-child,
            p:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@include color-mode(dark) {
    .container-quick-reference {
        table:not(.table) {
            th {
                background: lighten($body-bg-dark, 8%);
            }
        }
    }
}