$scale: 1.75;
$blockTextScale: 2;

@import 'mixins/page-cards';

.web-cards,
.web-cards[data-bs-theme="light"] {
    padding-top: 1px;

    --card-shadow-color: rgba(0, 0, 0, 0.25);

    @include pageCards($scale, $blockTextScale);

    .faction-cards {
        display: flex;
        flex-flow: row wrap;
        padding: 0 10px;
        justify-content: center;
    }

    .sub-footer {
        display: none;
    }

    .card {
        height: auto;
    }

    .table-actions {
        max-width: none;
    }

    .card {
        margin: 10px;
        border-radius: 3px;
        box-shadow: 0 0 8px var(--card-shadow-color);
    }

    @include media-breakpoint-down(sm) {
        .card {
            width: 100%;
            margin: 0;
            border-radius: 0;
            outline: none;
            border: 1px solid var(--action-divider-color);
            border-width: 0 0 1px 0;
            box-shadow: none;
        }

        .faction-cards {
            padding: 0;
        }
    }
}

@include color-mode(dark) {
    .web-cards {
        --section-heading-bg: #000;
        --card-outline-color: #{invert(#ccc, 100%)};
        --icon-outline-color: #{invert(#b3b3b3, 100%)};
        --card-icon-bg: #242424;
        --action-divider-color: #{invert(hsl(0, 0%, 60%), 100%)};
        --card-bg: #{darken($body-bg-dark,5%)};
        --faction-icon-color: #{$body-color-dark};
    }
}




