$scale: 1.5;

@import 'page-cards';

.web-cards {

    padding: 20px;
    @include pageCards($scale);

    h1 {
        padding-left: 20px;
    }

    .faction-cards {
        display: flex;
        flex-flow: row wrap;
        padding: 0 10px;
        justify-content: center;
    }

    .sub-footer {
        display: none;
    }

    .card {
        height: auto;
    }

    .table-actions {
        max-width: none;
    }

    .card {
        background: transparent;
        margin: 10px;
        border-radius: 3px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    }

    .page-inner {
        border: 2px solid $mid-grey;
    }

}



