.container-quick-reference {
    border: 1px solid #808080;

    .section {
        border: 1px solid #808080;
    }

    .section {
        padding: 10px;

        p:last-child {
            margin-bottom: 0;
        }
    }

    ul {
        padding-left: 1rem;

        ul {
            margin: 0.5rem 0;
        }

        li {
            line-height: 1.25;
            margin-bottom: 0.5rem;
        }
    }

    table:not(.table) {
        margin: 5px 0;
        width: auto;

        border: 1px solid #808080;

        th {
            background: #eee;
            font-weight: 500;
        }

        th,
        td {
            padding: 2px 5px;
        }
    }

    table {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media print {
    :root {
        font-size: 10px;
    }

    .page-quick-reference {
        .main-content {
            padding: 18pt 36pt;

            width: $page-letter-width;
            height: $page-letter-height;

            .container {
                width: auto;
                max-width: 100%;
            }
        }
    }

    .quick-reference-heading {
        font-size: 1.2rem;
        font-family: 'Barlow Condensed', sans-serif;

    }

    .container-quick-reference {

        h3 {
            font-size: 1.25rem;
        }

        .col-md-6 {
            width: 50%;
        }

        .col-md-4 {
            width: 33.3333%
        }
    }
}

@include color-mode(dark) {
    .container-quick-reference {
        table:not(.table) {
            th {
                background: lighten($body-bg-dark, 8%);
            }
        }
    }
}