.page-previews-container {
    background: $page-preview-bg;
    padding: 20px 0;
    border-top: 1px solid #444;
}

.page-preview {
    background: white;
    margin: 20px auto;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    page-break-after: always;
    padding: 0;

    &.page-letter {
        width: $page-letter-width;
        height: $page-letter-height;
    }

    &.page-letter-landscape {
        width: $page-letter-height;
        height: $page-letter-width;
    }
}

@page {
    margin: 0;
    size: letter portrait;
    -webkit-print-color-adjust: exact;
}

@media print {
    grammarly-desktop-integration {
        display: none;
    }
    .non-print-content {
        display: none;
    }
    .page-preview {
        margin: 0;
        padding: 0;
        border: 0;
        box-shadow: none;
        background-color: white;
    }

    .page-previews-container {
        margin: 0;
        padding: 0;
        border: 0;
        box-shadow: none;
        /* Set the background to gray to visualize the page size in the print preview */
        background-color: gray;
    }

    .header,
    .no-print {
        display: none;
    }
}
