.page-background {
    background: rgb(204, 204, 204);
}

.page-preview {
    background: white;
    margin: 0 auto;
    margin-bottom: 16px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

@page {
    margin: 0;
    size: letter portrait;
    -webkit-print-color-adjust: exact;
}


@media print {
    .page-preview {
        margin: 0;
        padding: 0;
        border: 0;
        box-shadow: none;
        background-color: white;
    }

    .page-background {
        margin: 0;
        padding: 0;
        border: 0;
        box-shadow: none; /* Set the background to gray to visualize the page size in the print preview */
        background-color: gray;
    }

    .no-print {
        display: none;
    }
}

/* Center all content within a page */
.page {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    page-break-after: always;
    padding: 0;
    // align-content: flex-start

    &.page-letter {
        width: 8.5 * 72pt;
        height: 11 * 72pt;
    }
}
