.rulebook {

    a.anchor {
        display: block;
        cursor: pointer;
        float: left;
        padding-right: 4px;
        margin-left: -20px;
        line-height: 1;
    }

    .header-link {
        vertical-align: middle;
        display: inline-block;
        overflow: visible !important;
        visibility: hidden;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: bold;
        -webkit-font-smoothing: antialiased;
        cursor: text;
        position: relative;

        &:hover {
            .header-link {
                visibility: visible;
            }
        }
    }

    h1:hover a.anchor,
    h2:hover a.anchor,
    h3:hover a.anchor,
    h4:hover a.anchor,
    h5:hover a.anchor,
    h6:hover a.anchor {
        text-decoration: none;
    }

    h1 {
        color: black;
    }

    h2 {
        border-bottom: 2px solid #b1b1b1;
        padding-bottom: 5px;
        color: #000;
    }

    h3 {
        border-bottom: 1px solid #b1b1b1;
        padding-bottom: 5px;
    }

    .table {
        $table-border-color: #9baec2;
        margin: 5px 0;
        width: auto;

        border: 1px solid $table-border-color;

        thead {
            th {
                background: $border-color;
            }
        }
    }

    .table-responsive {
        margin-bottom: 0.5rem;
    }

}

$linkColor: darken($link-color, 20%);
$linkColor2: darken($link-color, 10%);

.page-rulebook {
    .table-of-contents {
        ul {
            padding-left: 0;
            list-style: none;

            li {
                a {
                    font-weight: bold;
                    color: $linkColor;

                    &:hover {
                        color: shift-color($linkColor, 10%);
                        text-decoration: underline;
                    }
                }

                ul {
                    padding-left: 1rem;
                    margin-bottom: 1.5em;

                    li {
                        a {
                            font-weight: 500;
                            color: $linkColor2;
                            //color: red;
                            &:hover {
                                color: shift-color($linkColor2, 10%);
                            }
                        }

                        ul {
                            margin-bottom: 0;

                            li {
                                a {
                                    font-weight: normal;
                                    color: #444;

                                    &:hover {
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        a {
            text-decoration: none;
        }
    }

    .offcanvas-body {
        padding-top: 0;
    }

    .btn-table-of-contents {
        position: fixed;
        top: 60px;
        right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 1000;
    }
}
