.rulebook {

    & > *:not(ul, .table-responsive) {
        padding-left: 0.3rem;
    }

    .table-responsive {
        margin-left: 0.3rem;
    }

    a.anchor {
        display: block;
        cursor: pointer;
        float: left;
        padding-right: 4px;
        margin-left: -20px;
        line-height: 1;
    }

    .header-link {
        vertical-align: middle;
        display: inline-block;
        overflow: visible !important;
        visibility: hidden;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        -webkit-font-smoothing: antialiased;
        cursor: text;
        position: relative;

        &:hover {
            .header-link {
                visibility: visible;
            }
        }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: "Barlow Condensed", sans-serif;
    }

    $heading-border-color: #7d8ba2;

    h2 {
        border-bottom: 3px solid $heading-border-color;
        padding-bottom: 5px;
    }

    h3 {
        border-bottom: 2px solid $heading-border-color;
        padding-bottom: 5px;
    }

    h4 {
        font-weight: 600;
        font-size: 1.25rem;
    }

    h5 {
        font-weight: 600;
        font-size: 1rem;
    }

    .table {
        width: auto;
    }

}


$linkColor: darken($link-color, 20%);
$linkColor2: darken($link-color, 10%);

.page-rulebook {
    .table-of-contents {
        ul {
            padding-left: 0;
            list-style: none;

            li {
                a {
                    font-weight: bold;
                    color: $linkColor;

                    &:hover {
                        color: shift-color($linkColor, 10%);
                        text-decoration: underline;
                    }
                }

                ul {
                    padding-left: 1rem;
                    margin-bottom: 1.5em;

                    li {
                        a {
                            font-weight: 500;
                            color: $linkColor2;
                            //color: red;
                            &:hover {
                                color: shift-color($linkColor2, 10%);
                            }
                        }

                        ul {
                            margin-bottom: 0;

                            li {
                                a {
                                    font-weight: normal;
                                    color: #444;

                                    &:hover {
                                        color: #000;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        a {
            text-decoration: none;
        }
    }

    .offcanvas-body {
        padding-top: 0;
    }

    .btn-table-of-contents {
        position: fixed;
        top: 60px;
        right: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        z-index: 1000;
    }

    .offcanvas-header {

        .btn-lock-toggle {
            border-radius: 0.375rem;

            padding: calc(var(--bs-offcanvas-padding-y) * 0.5) calc(var(--bs-offcanvas-padding-x) * 0.5);
            margin-top: calc(-0.5 * var(--bs-offcanvas-padding-y));
            margin-right: calc(-0.5 * var(--bs-offcanvas-padding-x));
            margin-bottom: calc(-0.5 * var(--bs-offcanvas-padding-y));

            width: 1em;
            height: 1em;
            border: 0;
            box-sizing: content-box;

            background: transparent;

            &.locked {
                .icon-unlocked {
                    display: none;
                }
            }

            &.unlocked {
                .icon-locked {
                    display: none;
                }
            }
        }
    }
}
