
.table {

    &.table-outlined {
        border: 1px solid $table-border-color;
    }

    thead {
        th {
            background: $table-th-bg-var;
            color: $table-th-color-var;
        }
    }

    &.table-sm {
        caption {
            padding: $table-cell-padding-y-sm $table-cell-padding-x-sm;
        }
    }

    caption {
        border: 1px solid $table-border-color;
        background: $table-caption-bg-var;
        border-bottom: 0;
        padding: $table-cell-padding-y $table-cell-padding-x;
        font-weight: bold;
        color: $table-caption-color-var;
    }

    &.table-width-auto {
        width: auto;
    }
}