@import 'app-variables';

h2,
h3,
h4,
h5,
h6 {
    font-family: 'Barlow Condensed', sans-serif;
}

.text-weight-normal {
    font-weight: normal;
}

ul.no-bullets {
    list-style: none;
    padding-left: 0;
}

ul .list-divider {
    margin: 0.5rem 0;
    color: $dividing-line-color;
    opacity: 1;
}

// svg icons
svg.bi {
    display: inline-block;
    vertical-align: -0.125em;
    fill: currentcolor;

    width: 1em;
    height: 1em;
}

