@import 'lib/bootstrap';

$footer-bg: #f5f5f5;

html {
    height: 100%;
    //scroll-padding-top: 3px;
}

body {
    background: $footer-bg;
}

@import 'typography';
@import 'tables';
@import 'print-page';
@import 'page-cards-web';
@import 'page-cards-print';
@import 'rulebook';
@import 'quick-reference';

.token-shadow {
    text-shadow: 0 0 2px black;
}

.main-content {
    padding-top: 1rem;
    padding-bottom: 2rem;
    background: #fff;
}

.body-print {
    .main-content {
        padding-bottom: 0;
    }
}

@media print {
    .main-content {
        padding: 0;
    }
}

.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $footer-bg;
    border-top: 1px solid #444;
}

.navbar-primary {
    padding-left: 20px;
    padding-right: 20px;
}

.offcanvas {
    box-shadow: -3px 0 8px rgba(0, 0, 0, 0.5);
}

@include media-breakpoint-only(xs) {
    .offcanvas {
        box-shadow: none;
        width: 100%;
    }
}

.offcanvas-backdrop.show {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(9, 38, 121, 0.1) 33%, rgba(9, 38, 121, 0.6461178221288515) 66%);
}

/* DIFF STUFF */
del {
    background: pink;
    color: #690012;
}

ins {
    background: #cafdca;
    color: #004000;
    text-decoration: none;
}
