@import 'lib/bootstrap';
@import 'app-variables';

html {
    height: 100%;
    background: $footer-bg;
}

.body-print {
    background: $footer-bg;
}

@import 'typography';
@import 'tables';
@import 'print-page';

@import 'page-cards-web';
@import 'page-cards-print';
@import 'page-army-list';
@import 'page-rulebook';
@import 'page-quick-reference';

.token-shadow {
    text-shadow: 0 0 2px black;
}

.main-content {
    padding-top: 1rem;
    padding-bottom: 2rem;
    background: #fff;
}

.body-print {
    .main-content {
        padding-bottom: 0;
    }
}

@media print {
    .main-content {
        padding: 0;
    }
}

.footer {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    border-top: 1px solid #444;

    background: linear-gradient(
                    180deg,
                    mix($primary, $footer-bg, 50%) 0px,
                    mix($primary, $footer-bg, 10%) 4px,
                    $footer-bg 20px,
    );

    .sub-footer {
        border-top: 1px solid $dividing-line-color;
        padding: 1rem 0;
    }
}

.navbar-primary {
    padding-left: 20px;
    padding-right: 20px;
}

/* DIFF STUFF */
del {
    background: pink;
    color: #690012;
}

ins {
    background: #cafdca;
    color: #004000;
    text-decoration: none;
}
