@import 'lib/bootstrap';
@import 'app-variables';

html {
    height: 100%;
    background: $footer-bg;
}

.body-print {
    background: $footer-bg;
}

@import 'typography';
@import 'tables';
@import 'print-page';
@import 'footer';
@import 'container-ex';

@import 'page-cards-web';
@import 'page-cards-print';
@import 'page-army-list';
@import 'page-rulebook';
@import 'page-quick-reference';

.token {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 2px;
    vertical-align: -0.125em;
}

.token-shadow {
    border: 1px solid #333;
}

.page-body {
    min-height: 100%;
}

.main-content {

}

.primary-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.body-print {
    .main-content {
        padding-bottom: 0;
    }
}

.print-only {
    display: none;
}

.navbar-primary {
    padding-left: 20px;
    padding-right: 20px;
    border-bottom: 1px solid #000;
    //background: linear-gradient(
    //                0,
    //                rgba($primary, 1) 0px,
    //                rgba($primary, 0.5) 1px,
    //                rgba($primary, 0.1) 4px,
    //                rgba($primary, 0) 5px
    //);
}

.header {

    background: #fff;

    > .container-ex {

        $stop1: 5%;
        $stop2: 20%;

        $g: 3rem;
        $white: #fff;
        background: linear-gradient(
                        90deg,
                        rgba($white, 1) 0%,
                        rgba($white, 0.2) $g,
                        rgba($white, 0) 40%,
                        rgba($white, 0) 60%,
                        rgba($white, 0.2) calc(100% - $g),
                        rgba($white, 1) 100%,
        ),
        linear-gradient(
                        0,
                        rgba($primary, 0.5) 1px,
                        rgba($primary, 0.1) 4px,
                        rgba($primary, 0) 20px
        );
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .primary-heading {
        margin: 0;
    }
}

@media print {
    .token-shadow {
        text-shadow: none;
    }
    .main-content {
        padding: 0;
    }
    .print-only {
        display: inherit;
    }
    .header {
        display: none;
    }
}

/* DIFF STUFF */
del {
    background: pink;
    color: #690012;
}

ins {
    background: #cafdca;
    color: #004000;
    text-decoration: none;
}
