@media print {
    :root {
        font-size: 10pt;
    }

    @page {
        size: letter;
        margin: 0.5in;

        @bottom-right {
            vertical-align: top;
            padding: 0 .25in .25in 0;
            content: "page " counter(page);
        }
    }

    @page :left {
        margin: 0.5in;
    }

    @page :right {
        margin: 0.5in;
    }

    html {
        background: #fff;
    }

    h2, h3, h4 {
        page-break-after: avoid;
    }
}

#list-toc-generated {

    list-style: none;
    page-break-after: always;
    columns: 2;
    column-fill: auto;

    .toc-element-level-1 {
        font-weight: bold;
    }

    .toc-element-level-2 {
        margin-left: 0.5em;
        font-weight: 500;
    }

    .toc-element-level-3 {
        margin-left: 1em;
    }

    .toc-element-level-4 {
        margin-left: 1.5em;
    }

    .toc-element-level-5 {
        margin-left: 2em;
    }

    .toc-element {
        display: flex;
        //justify-content: space-between;
        break-inside: avoid;

        .toc-item {
            white-space: nowrap;
        }

        .spacer {
            margin: 0 0.5em;
            overflow: hidden;
            flex-grow: 1;
        }

        a::after {
            flex-shrink: 0;
            content: " p. " target-counter(attr(href), page);
            white-space: nowrap;
        }
    }
}
