$scale: 1.5;

@import 'base';
@import 'page-cards';
@import 'nav.scss';

.web-cards {
    h1 {
        padding-left: 20px;
    }

    .web-faction-cards {
        display: flex;
        flex-flow: row wrap;
        padding: 0 10px;
    }

    .sub-footer {
        display: none;
    }

    .card {
        height: auto;
    }

    .table-actions {
        max-width: none;
    }
}


.card {
    background: transparent;
    border: 2px solid $mid-grey;
    margin: 10px;
    border-radius: 10px;
}

.page-inner {
    border: 2px solid $mid-grey;
}

