@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  font-family: "Bitter", serif; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0; }

td,
th {
  text-align: left;
  border: 0;
  padding: 0; }

ul {
  margin: 0;
  padding: 0 0 0 0;
  list-style: none; }

/* DIFF STUFF */
del {
  background: pink;
  color: #690012; }

ins {
  background: #cafdca;
  color: #004000;
  text-decoration: none; }

.page-card-inner {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 32pt 48pt; }

.web-cards .faction-cards {
  display: flex;
  flex-flow: row wrap; }

.web-cards .sub-footer {
  display: none; }

.web-cards .card {
  height: auto; }

.card {
  width: 345px;
  height: 366pt;
  padding: 6pt;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: 8.25pt;
  line-height: 1.4;
  font-family: "Bitter", serif;
  margin: -1px 0 0 -1px;
  border: 1px solid #ccc; }

.card-advisor .command-abilities .key {
  font-size: 8.25pt; }

.card-portrait {
  float: right;
  height: 0.5625in;
  margin-left: 6pt; }

.card-content-container {
  border-radius: 2pt;
  padding: 1.5pt;
  border-color: inherit;
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
  z-index: 1;
  background: #fff; }

.card .card-content-container .content-padding {
  padding-left: 6pt;
  padding-right: 6pt; }

.card-bg {
  text-align: center;
  position: absolute;
  bottom: 0.18in;
  left: 0;
  right: 0;
  z-index: 0; }
  .card-bg .bg {
    width: 80%;
    text-align: center;
    opacity: 0.1; }

.text-medium {
  font-style: normal;
  font-weight: 500; }

.text-center {
  text-align: center; }

.keyword {
  font-style: normal;
  font-weight: 500; }

.cost-icon-action,
.cost-icon-command,
.cost-icon-command-x2,
.cost-icon-action-or-command,
.cost-icon-action-and-command {
  background: #ebebeb;
  font-weight: bold;
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #b3b3b3; }

.cost-icon-command-x2 {
  width: 22.5px; }

.cost-icon-action-or-command,
.cost-icon-action-and-command {
  border-radius: 2px 10px 10px 2px;
  width: auto;
  padding-left: 3px;
  padding-right: 4.5px; }

.cost-icon-action {
  border-radius: 2px; }

.cost-icon-command,
.cost-icon-command-x2 {
  border-radius: 50px;
  width: 16.5px;
  height: 16.5px; }

.command-points {
  font-weight: normal;
  font-size: 6.5pt;
  background: #fff;
  border-radius: 3pt;
  border: 1px solid #b3b3b3;
  padding: 1pt 3pt;
  position: absolute;
  top: -2pt;
  right: -1pt; }
  .command-points .command-points-value {
    font-weight: 600; }

.heading {
  padding: 6pt 6pt 3pt;
  font-family: "Open Sans", sans-serif; }
  .heading .icon-wrap {
    width: 0.5625in;
    height: 0.5625in; }
  .heading .icon {
    width: 0.5625in;
    height: 0.5625in;
    float: left;
    margin-right: 6pt; }
  .heading .title {
    min-width: 0;
    min-height: auto;
    line-height: 1.3; }
    .heading .title .primary-title {
      display: block;
      font-size: 13.5pt;
      font-weight: 600; }
      .heading .title .primary-title .variant-title {
        font-weight: normal; }
    .heading .title .title-note {
      font-size: 16.5pt;
      font-weight: normal; }
    .heading .title .sub-title {
      display: block;
      font-size: 9pt; }
    .heading .title .faction {
      font-size: 6pt;
      margin-top: 3pt; }

.table-stats {
  font-size: 9pt;
  margin-bottom: 1.5pt;
  font-family: "Open Sans", sans-serif; }
  .table-stats th,
  .table-stats td {
    text-align: center;
    vertical-align: middle; }
  .table-stats th {
    padding: 0.25em 0;
    background: #ddd; }
  .table-stats td {
    font-weight: 600; }

.table-actions {
  max-width: 220pt; }
  .table-actions th,
  .table-actions td {
    text-align: center;
    vertical-align: baseline;
    width: 100%; }
  .table-actions th {
    padding: 0.3em 0.5em;
    background: #ddd;
    font-size: 7.5pt;
    font-family: "Open Sans", sans-serif; }
    .table-actions th:first-child {
      padding-left: 6pt;
      text-align: left; }
    .table-actions th:last-child {
      padding-right: 6pt; }
  .table-actions .action-row .col-stat,
  .table-actions .action-row .col-target,
  .table-actions .action-row .col-rof,
  .table-actions .action-row .col-range,
  .table-actions .action-row .col-effect {
    white-space: nowrap; }
  .table-actions .action-row:first-child td {
    border-top: 0; }
  .table-actions .action-row td {
    border-top: 1px solid #999999;
    font-family: "Open Sans", sans-serif;
    padding: 0.4em 0; }
    .table-actions .action-row td:last-child {
      padding-right: 3pt; }
    .table-actions .action-row td.col-name, .table-actions .action-row td.col-stat, .table-actions .action-row td.col-target, .table-actions .action-row td.col-rof, .table-actions .action-row td.col-range, .table-actions .action-row td.col-effect {
      font-weight: 500; }
    .table-actions .action-row td.col-cost {
      padding: 0;
      white-space: nowrap;
      font-weight: bold; }
    .table-actions .action-row td.col-target {
      font-size: 90%;
      font-weight: bold; }
    .table-actions .action-row td.col-stat, .table-actions .action-row td.col-effect {
      text-transform: uppercase;
      font-size: 90%;
      font-weight: bold; }
  .table-actions .action-row.action-row-no-stats .key {
    font-size: inherit; }
  .table-actions .action-description-row td,
  .table-actions .action-features-row td {
    padding-left: 6pt;
    padding-right: 6pt; }
  .table-actions .action-description-row td {
    font-size: 7.5pt;
    padding-top: 0.5em;
    padding-bottom: 0.5em; }
    .table-actions .action-description-row td:first-child {
      padding-top: 0; }
  .table-actions td:first-child {
    padding-left: 6pt;
    text-align: left; }

.features .feature {
  padding: 0 0 0 6pt; }
  .features .feature:first-child {
    margin-top: 0; }
  .features .feature::before {
    display: inline-block;
    margin: 0 0 0 -6pt;
    content: '»'; }

.section-heading {
  font-size: 7.5pt;
  margin: 0;
  background: #ddd;
  padding: 1.5pt 6pt;
  vertical-align: middle;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  position: relative; }

.key-value {
  margin: 0.5em 0;
  font-family: "Bitter", serif;
  font-weight: normal;
  font-size: 7.5pt; }
  .key-value .key {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 90%;
    font-family: "Open Sans", sans-serif; }
  .key-value .note {
    font-weight: 500;
    font-size: 90%;
    font-family: "Open Sans", sans-serif; }
  .key-value .cost-icon-command,
  .key-value .cost-icon-action,
  .key-value .cost-icon-action-and-command,
  .key-value .cost-icon-action-or-command {
    font-family: "Open Sans", sans-serif;
    height: auto;
    font-size: 6pt;
    position: relative;
    top: -1px; }
  .key-value .cost-icon-command,
  .key-value .cost-icon-action {
    width: 12px;
    text-align: center; }

.version-footer {
  position: absolute;
  bottom: 0;
  right: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 7pt;
  color: #666; }

.sub-footer {
  font-family: "Open Sans", sans-serif;
  font-size: 3.5pt;
  color: #808080;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1pt 0;
  line-height: 1; }

.nav {
  margin: 20px; }

.web-cards h1 {
  padding-left: 20px; }

.web-cards .faction-cards {
  display: flex;
  flex-flow: row wrap;
  padding: 0 10px; }

.web-cards .sub-footer {
  display: none; }

.web-cards .card {
  height: auto; }

.web-cards .table-actions {
  max-width: none; }

.card {
  background: transparent;
  border: 2px solid #ccc;
  margin: 10px;
  border-radius: 10px; }

.page-inner {
  border: 2px solid #ccc; }

/*# sourceMappingURL=maps/page-cards-web.css.map */
