<footer class="footer no-print mt-auto">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h4>Resources</h4>
                <ul class="footer-nav">
                    <li>
                        <a class="footer-nav-link" href="/rules.html">Game Rules</a>
                    </li>
                    <li>
                        <a class="footer-nav-link" href="/quick-reference.html">Quick Reference</a>
                    </li>
                    <li>
                        <a class="footer-nav-link" href="/army-lists.html">Army Lists</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Cards</h4>
                <ul class="footer-nav">
                    <li>
                        <a class="footer-nav-link" href="/unit-cards.html">Unit Cards</a>
                    </li>
                    <li>
                        <a class="footer-nav-link" href="/unit-cards-print.html">Unit Cards Print</a>
                    </li>
                    <li>
                        <hr class="list-divider">
                    </li>
                    <li>
                        <a class="footer-nav-link" href="/unit-cards-starter.html">Unit Cards Starter</a>
                    <li>
                        <a class="footer-nav-link" href="/unit-cards-starter-print.html">Unit Cards Starter Print</a>
                    </li>
                    <li>
                        <a class="footer-nav-link"
                           href="/unit-cards-starter-print-landscape.html">Unit Cards Starter Print Landscape</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>World</h4>
                <ul class="footer-nav">
                    <li>
                        <a class="footer-nav-link" href="/story.html">Story</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h4>Community</h4>
                <ul class="footer-nav">
                    <li>
                        <a class="footer-nav-link" href="{{facebook_group_url}}">Facebook</a>
                    </li>
                    <li>
                        <a class="footer-nav-link" href="{{discord_url}}">Discord Server</a>
                    </li>
                    <li>
                        <a class="footer-nav-link" href="{{gallery_url}}">Gallery</a>
                    </li>
                    <li>
                        <a class="footer-nav-link" href="/about.html">About</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="container text-center sub-footer">&copy; Fallen Games LLC</div>
</footer>



