<nav class="navbar navbar-expand-lg navbar-primary navbar-dark no-print">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index.html"><img src="/assets/img/downsync-logo.svg" width="120"
                                                        alt="downsnyc logo"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="https://fallen-games.com">Store</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/rules.html">Game Rules</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Cards
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/unit-cards.html">Unit Cards</a></li>
                    <li><a class="dropdown-item" href="/unit-cards-starter.html">Starter Set Unit Cards</a>
                        {{#if FEATURE_ADVISOR_CARD}}
                        <li><a class="dropdown-item" href="/advisor-cards.html">Advisor Cards</a>
                        {{/if}}
                    </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Resources
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/quick-reference.html">Quick Reference</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/army-lists.html">Army Lists</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/rules-changelog.html">Rules Changelog</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/articles/painting-pings.html">Painting Pings</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/story.html">Story</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{gallery_url}}">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about.html">About</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <button
                        class="btn btn-link nav-link py-2 px-0 px-lg-2 dropdown-toggle d-flex align-items-center"
                        id="bd-theme" type="button" aria-expanded="true" data-bs-toggle="dropdown"
                        data-bs-display="static" aria-label="Toggle theme (light)">

                        {{> svg-icon icon='sun_fill' class='my-1 theme-icon-active'}}

                        <span class="d-lg-none ms-2" id="bd-theme-text">Toggle theme</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="bd-theme-text" data-bs-popper="static">
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center active"
                                    data-bs-theme-value="light" aria-pressed="true">

                                {{> svg-icon icon='sun_fill' class='me-2 opacity-50 theme-icon'}}

                                Light

                                {{> svg-icon icon='check2' class='ms-auto d-none'}}

                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center"
                                    data-bs-theme-value="dark" aria-pressed="false">
                                {{> svg-icon icon='moon_stars_fill' class='me-2 opacity-50 theme-ico'}}

                                Dark

                                {{> svg-icon icon='check2' class='ms-auto d-none'}}

                            </button>
                        </li>
                        <li>
                            <button type="button" class="dropdown-item d-flex align-items-center"
                                    data-bs-theme-value="auto" aria-pressed="false">

                                {{> svg-icon icon='circle_half' class='me-2 opacity-50 theme-icon'}}
                                Auto
                                {{> svg-icon icon='check2' class='ms-auto d-none'}}

                            </button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

