<div class="dropdown">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
       aria-expanded="false">
        {{> svg-icon icon='pdf'}}
        Download Unit Cards
    </a>
    <ul class="dropdown-menu">
        <li>
            <div class="dropdown-header">{{> svg-icon icon='image_portrait'}} Portrait</div>
        </li>
        <li><a class="dropdown-item" href="{{download_all_url}}">{{> svg-icon icon='pdf'}} All</a></li>
        {{#each factions as |fac|}}
            <li>
                <a class="dropdown-item"
                   href="{{#> download_faction_url slug=fac.faction_slug}}{{/download_faction_url}}"
                >

                    {{> svg-icon icon='pdf'}}
                    {{faction}}
                </a>
            </li>
        {{/each}}
        <li>
            <hr class="dropdown-divider">
        </li>
        <li>
            <div class="dropdown-header">{{> svg-icon icon='image_landscape'}} Landscape</div>
        </li>
        <li><a class="dropdown-item" href="{{download_all_landscape_url}}">{{> svg-icon icon='pdf'}} All</a></li>
        {{#each factions as |fac|}}
            <li>
                <a class="dropdown-item"
                   href="{{#> download_faction_landscape_url slug=fac.faction_slug}}{{/download_faction_landscape_url}}"
                >

                    {{> svg-icon icon='pdf'}}
                    {{faction}}
                </a>
            </li>
        {{/each}}
    </ul>
</div>