<div class="dropdown my-1 me-1 d-inline-block">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        View: {{view}}
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/unit-cards.html">Web</a></li>
        <li><a class="dropdown-item" href="/unit-cards-print.html">Print</a></li>
    </ul>
</div>
