<div class="dropdown m-1 d-inline-block">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        View: {{view}}
    </a>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/unit-cards-starter.html">Web</a></li>
        <li><a class="dropdown-item" href="/unit-cards-starter-print.html">Print</a></li>
        <li><a class="dropdown-item" href="/unit-cards-starter-print-landscape.html">Print Landscape</a></li>
    </ul>
</div>
