<div class="page-previews-container" data-bs-theme="light">
    <div class="output-container card-grid-container-flex-landscape-print">
        {{#each cardPages as |cardPage|}}
            <div class="faction-{{faction_slug}}">
                <div class="page-preview page-letter-landscape" style="background-color:white">
                    <div class="page-card-grid">
                        {{#each cardPage.factionCards as |cardData|}}
                            {{> (lookup cardData 'template') cardData}}
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>