{{#eq cost 'COST_ACTION'}}
    <span class="cost-icon-action">A</span>
{{/eq}}

{{#eq cost 'COST_COMMAND'}}
    <span class="cost-icon-command">C</span>
{{/eq}}

{{#eq cost 'COST_COMMAND_X2'}}
    <span class="cost-icon-command-x2">C2</span>
{{/eq}}

{{#eq cost 'COST_ACTION_AND_COMMAND'}}
    <span class="cost-icon-action-and-command">A+C</span>
{{/eq}}

{{#eq cost 'COST_ACTION_OR_COMMAND'}}
    <span class="cost-icon-action-or-command">A/C</span>
{{/eq}}

{{#eq cost 'COST_FREE'}}
    <span class="cost-icon-free">F</span>
{{/eq}}

