{{#extend 'layout/html' title=pageTitle}}

    {{#content 'page-content'}}

        <div class="header">
            <div class="container-ex">
                <h1 class="primary-heading">{{faction}} Unit Cards</h1>
            </div>
        </div>

        <div class="container">

            <div class="web-cards primary-content">
                <div class="faction-cards">
                    {{#each factionCards as |singleCardData|}}
                        {{> (lookup singleCardData 'template') singleCardData}}
                    {{/each}}
                </div>
            </div>
        </div>

    {{/content}}
{{/extend}}

