{{#extend 'layout/html' title=singleCardData.name_with_variant}}

    {{#content 'page-content'}}

        <div class="header">
            <div class="container-ex">
                <h1 class="primary-heading h2">Cards &raquo; {{singleCardData.faction}} &raquo; {{singleCardData.name}}{{#if
                    singleCardData.variant_name}}: {{singleCardData.variant_name}}{{/if}}</h1>
            </div>
        </div>

        <div class="container">
            <div class="web-cards primary-content">
                <div class="faction-cards">
                    {{> (lookup singleCardData 'template') singleCardData}}
                </div>
            </div>
        </div>

    {{/content}}
{{/extend}}

