{{#extend 'layout/html' title='Painting Pings'}}

    {{#content 'page-content'}}


        <div class="header">
            <div class="container-ex">
                <h1 class="primary-heading">Painting Downsync Pings</h1>
            </div>
        </div>

        <div class="container primary-content">

            <p>
                The Downsync Pings are laser cut clear acrylic circles. When painted they create a hologram like optical illusion. They are masked to make paining them easy. The Tick Marks help differentiate their size.
            </p>

            <img src="/assets/img/articles/painting-pings/ping-paint-diagram.jpg" class="img-fluid"
                 alt="Ping Paint Diagram">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">Get Materials</h5>
                            <ul class="card-text">
                                <li>Pings</li>
                                <li>Spray Paint</li>
                                <li>A Knife/Scraper</li>
                                <li>Well ventilated area for spraying</li>
                            </ul>
                            <p class="card-text">You do not need expensive spray paint. Paint sticks very well to the acrylic Pings and primer is not needed. You can use cheap spray paint ideally for outdoor use so it is more durable. </p>
                        </div>
                        <img src="/assets/img/articles/painting-pings/step-1.jpg" class="card-img-bottom"
                             alt="Get materials">
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <div class="card-body">
                            <h5 class="card-title">Remove Ring Masking</h5>
                            <p class="card-text">
                                Peel off the out circle of paper on the bottom of the Ping. Using a knife/scraper makes this easier.
                            </p>
                        </div>
                        <img src="/assets/img/articles/painting-pings/step-2.jpg" class="card-img-bottom"
                             alt="Peel masking off">
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <div class="card-body">
                            <h5 class="card-title">Layout For Spraying</h5>
                            <p class="card-text">
                                Leave enough space between them to spray the sides.
                            </p>
                        </div>
                        <img src="/assets/img/articles/painting-pings/step-3.jpg" class="card-img-bottom"
                             alt="Layout for spraying">
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <div class="card-body">
                            <h5 class="card-title">Spray First Coat</h5>
                            <p class="card-text">
                                Spray an even first coat on the bottom and sides of the Pings.Then let them dry for about an hour.
                            </p>
                        </div>
                        <img src="/assets/img/articles/painting-pings/step-4.jpg" class="card-img-bottom"
                             alt="Spray first coat">
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100">

                        <div class="card-body">
                            <h5 class="card-title">Spray Second Coat</h5>
                            <p class="card-text">
                                Let them dry for about 8 hours or overnight.
                            </p>
                        </div>
                        <img src="/assets/img/articles/painting-pings/step-5.jpg" class="card-img-bottom"
                             alt="Spray second coat">
                    </div>
                </div>


                <div class="col">
                    <div class="card h-100">

                        <div class="card-body">
                            <h5 class="card-title">Paint Tick Marks and Remove Masking</h5>
                            <p class="card-text">
                                Pick a color that contrasts with the spray color for the tick marks.
                                Paint a few light coats applied with a 1 or 0 size brush.
                                I used Vallejo Game Color 72.095 Glacier Blue.
                            </p>
                            <p class="card-text">
                                Then remove the remaining masking.
                            </p>
                        </div>
                        <img src="/assets/img/articles/painting-pings/step-6.jpg" class="card-img-bottom"
                             alt="Paint tick marks and remove remaining masking">
                    </div>
                </div>
            </div>

            <br>
            <h2>Final Result</h2>

            <div class="row">
                <div class="col-sm-6">
                    <img src="/assets/img/articles/painting-pings/result-1.jpg" class="img-fluid"
                         alt="Red army result">
                </div>
                <div class="col-sm-6">
                    <img src="/assets/img/articles/painting-pings/result-2.jpg" class="img-fluid"
                         alt="Blue army result">
                </div>
            </div>

            <br>
            <h3>All Photos by Pat Fitzgerald</h3>

    {{/content}}
{{/extend}}
