@use 'cut-corners';

@mixin pageCards($scale: 1, $blockTextScale: 1) {

    $margin: 4pt * $scale;
    $serif: 'Bitter', serif;
    $sansSerif: 'Open Sans', sans-serif;

    --section-heading-bg: #ddd;
    --card-outline-color: #ccc;
    --icon-outline-color: #b3b3b3;
    --card-icon-bg: #ebebeb;
    --action-divider-color: hsl(0, 0%, 60%);
    --card-bg: #fff;
    --faction-icon-color: #2d2d33;

    color: var(--bs-body-color);

    .card {
        width: 180pt * $scale;
        height: 252pt * $scale - ($margin * 2);
        padding: $margin;
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        font-size: 5.5pt * $scale;
        line-height: 1.4;
        font-family: $serif;
        outline: 1px solid var(--card-outline-color);
        background: var(--card-bg);
    }

    .card-advisor {
        .command-abilities {
            .key {
                font-size: 5.5pt * $scale;
            }
        }
    }

    .card-content-container {
        border-radius: 2pt;
        padding: 1pt * $scale;
        border-color: inherit;
        //display: flex;
        flex-direction: column;
        flex: 1;
        position: relative;
        z-index: 1;
        background: var(--card-bg);
    }

    .card .card-content-container .content-padding {
        padding-left: 4pt * $scale;
        padding-right: 4pt * $scale;
    }

    .card-bg {
        text-align: center;
        position: absolute;
        bottom: 0.18in;
        left: 0;
        right: 0;
        z-index: 0;

        .bg {
            width: 80%;
            text-align: center;
            opacity: 0.1;
        }
    }

    .text-medium {
        font-style: normal;
        font-weight: 500;
    }

    .text-center {
        text-align: center;
    }

    .keyword {
        font-style: normal;
        font-weight: 500;

    }

    .cost-icon-action,
    .cost-icon-command,
    .cost-icon-command-x2,
    .cost-icon-action-or-command,
    .cost-icon-action-and-command,
    .cost-icon-free {
        background: var(--card-icon-bg);
        border: 1px solid var(--icon-outline-color);
        padding: 0 0.4em;
        font-weight: bold;
        line-height: 1;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
    }

    .cost-icon-action-or-command,
    .cost-icon-action-and-command {
        border-radius: (2px * $scale) 50px 50px (2px * $scale);
        padding-left: 0.4em;
        padding-right: 0.4em;
    }

    .cost-icon-free {
        border: 0;
        background: transparent;
    }

    .cost-icon-action {
        border-radius: 2px * $scale;
    }

    .cost-icon-command,
    .cost-icon-command-x2 {
        border-radius: 50px;
    }

    .command-points {

        font-weight: normal;
        font-size: 8pt;
        background: #fff;
        border-radius: 3pt;
        border: 1px solid var(--icon-outline-color);
        padding: 1pt 3pt;

        position: absolute;

        top: -14pt;
        right: -1pt;

        .command-points-value {
            font-weight: 600;
        }
    }

    .heading {
        padding: 2pt * $scale 2pt * $scale 4pt * $scale;
        font-family: $sansSerif;
        display: flex;

        .icon {
            width: 0.375in * $scale;
            height: 0.375in * $scale;
            flex-shrink: 1;
            margin-right: 4pt * $scale;

            color: var(--faction-icon-color);
        }

        .title {
            min-width: 0;
            min-height: auto;
            line-height: 1.3;
            font-size: 9pt * $scale;
            flex: 2;

            .primary-title {
                display: block;
                font-weight: 600;
                white-space: nowrap;

                .variant-title {
                    font-weight: normal;
                }
            }

            .sub-title {

                $font-size: 6pt * $scale;
                display: block;
                font-size: $font-size;

                .squad-size {
                    padding: 0 0.4em;
                    font-weight: bold;
                    line-height: 1;
                    text-align: center;
                    white-space: nowrap;
                    vertical-align: baseline;
                    border-radius: 100px;
                    background: var(--card-icon-bg);
                    border: 1px solid var(--icon-outline-color);
                }
            }

            .faction {
                font-size: 5pt * $scale;
                margin-top: 2pt * $scale;
            }
        }

        .card-portrait {
            height: 0.375in * $scale;
            margin-left: 4pt * $scale;
            flex-shrink: 1;
        }
    }

    .table-stats {
        font-size: 6pt * $scale;
        margin-bottom: 1pt * $scale;
        width: 100%;
        font-family: $sansSerif;

        th,
        td {
            text-align: center;
            vertical-align: middle;
        }

        th {
            padding: 0.25em 0;
            background: var(--section-heading-bg);
            font-weight: bold;

            &:first-child {
                @include cut-corners.topCornerCut();
            }

            &:last-child {
                @include cut-corners.bottomCornerCut();
            }
        }

        td {
            font-weight: 600;
        }
    }

    .table-actions {

        // cell align to the right hack
        max-width: 220pt;

        th,
        td {
            text-align: center;
            vertical-align: baseline;
            width: 100%;
        }

        th {
            padding: 0.3em 0.5em;
            background: var(--section-heading-bg);
            font-size: 5pt * $scale;
            font-family: $sansSerif;
            font-weight: bold;

            &:first-child {
                padding-left: 4pt * $scale;
                text-align: left;

                @include cut-corners.topCornerCut();
            }

            &:last-child {
                padding-right: 4pt * $scale;
                @include cut-corners.bottomCornerCut()
            }
        }

        .action-row {
            .col-stat,
            .col-rof,
            .col-range,
            .col-team,
            .col-effect {
                white-space: nowrap
            }

            &:first-child td {
                border-top: 0;
            }

            td {
                border-top: 1px solid var(--action-divider-color);
                font-family: $sansSerif;
                padding: 0.4em 0;

                &:last-child {
                    padding-right: 2pt * $scale;
                }

                &.col-name,
                &.col-team,
                &.col-stat,
                &.col-rof,
                &.col-range,
                &.col-effect {
                    font-weight: 500;
                }

                &.col-stat,
                &.col-effect {
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }

            &.action-row-no-stats {
                .key {
                    font-size: inherit;
                }
            }
        }

        .action-description-row td,
        .action-features-row td {
            padding-left: 4pt * $scale;
            padding-right: 4pt * $scale;
        }

        .action-description-row td {
            font-size: 5pt * $blockTextScale;
            padding-top: 0.5em;
            padding-bottom: 0.5em;

            &:first-child {
                padding-top: 0;
            }
        }

        td {
            &:first-child {
                padding-left: 4pt * $scale;
                text-align: left;
            }
        }
    }

    .features {
        .feature {
            &:first-child {
                margin-top: 0;
            }

            padding: 0 0 0 4pt * $scale;

            &::before {
                display: inline-block;
                margin: 0 0 0 -4pt * $scale;
                content: '»'
            }
        }
    }

    .section-heading {
        font-size: 5pt * $scale;
        margin: 0;
        background: var(--section-heading-bg);
        padding: 1pt * $scale 4pt * $scale;
        vertical-align: middle;
        font-family: $sansSerif;
        font-weight: bold;
        @include cut-corners.topAndBottomCornerCut();
    }

    .key-value {
        margin: 0.5em 0;
        font-family: $serif;
        font-weight: normal;
        font-size: 5pt * $blockTextScale;

        .key {
            font-weight: bold;
            text-transform: uppercase;
            font-size: 90%;
            font-family: $sansSerif;
        }

        .note {
            font-weight: 500;
            font-size: 90%;
            font-family: $sansSerif;
        }

        .cost-icon-command,
        .cost-icon-action,
        .cost-icon-action-and-command,
        .cost-icon-action-or-command,
        .cost-icon-free {
            font-family: "Open Sans", sans-serif;
        }
    }

    .version-footer {
        position: absolute;
        bottom: 0;
        right: 0;
        font-family: $sansSerif;
        font-size: 7pt;
        color: #666;
    }

    .sub-footer {
        font-family: $sansSerif;
        font-size: 3.5pt;
        color: #808080;
        text-align: center;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 1pt 0;
        line-height: 1;
    }
}

