{{#extend 'layout/html' title='About'}}

    {{#content 'page-content'}}

        <div class="header">
            <div class="container-ex">
                <h1 class="primary-heading">About Downsync</h1>
            </div>
        </div>

        <div class="container primary-content">
            <h2>Origin</h2>

            <p>Downsync was created by Carl Olsen in Baltimore, Maryland USA. He designed the rules and 3D modeled the vehicle miniatures for the game in
                <a href="https://blender.org/">Blender</a>.</p>

            <h2>Miniatures</h2>

            <p>Vehicle and Spider Drone miniatures are 3d printed in resin by
                <a href="https://www.alchemy3dprints.com/">Alchemy 3d prints</a>
                .</p>

            <p>Metal human infantry and power armor miniatures are from
                <a href="https://khurasanminiatures.tripod.com/">Khurasan Miniatures</a>
                .</p>

            <h3>Contributors</h3>

            <p>All the people that helped make Downsync a reality.</p>

            <dl class="row">
                <dt class="col-sm-3">Amber Olsen</dt>
                <dd class="col-sm-9">Supportive wife, Playtesting, Demoing</dd>

                <dt class="col-sm-3">Yann "DevilSquid" Folange</dt>
                <dd class="col-sm-9">Game/Unit design, Story, Playtesting, Demoing</dd>

                <dt class="col-sm-3">Joseph Horner</dt>
                <dd class="col-sm-9">Game/Unit design, Story, Playtesting, Demoing</dd>

                <dt class="col-sm-3">Moran Goldstein</dt>
                <dd class="col-sm-9">Designed the Spider Drones, Story, 3d modeling consulting</dd>

                <dt class="col-sm-3">Patrick Murray</dt>
                <dd class="col-sm-9">Story</dd>

                <dt class="col-sm-3">Vinicius Machado
                    <a href="https://www.artstation.com/cgi_extreme">{{> svg-icon icon='external_link'}}</a>
                </dt>
                <dd class="col-sm-9">Designed the Spider Drone sunset river artwork in Blender</dd>

            </dl>
        </div>
    {{/content}}
{{/extend}}
