{{#extend 'layout/html' title=pageTitle body_class='body-print'}}

    {{#content 'page-content'}}

        {{> cards-print-header
            title='Downsync Advisor Cards'
            print_all_url='/advisor-cards-print.html'
        }}

        <div class="page-previews-container" data-bs-theme="light">
            <div class="output-container card-grid-container-to-scale-print">
                {{#each cardPages as |cardPage|}}

                    <div class="page-preview page-letter" style="background-color:white">
                        <div class="page-card-grid">
                            {{#each cardPage as |cardData|}}
                                {{> (lookup cardData 'template') cardData}}
                            {{/each}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>

    {{/content}}
{{/extend}}

