{{#extend 'layout/html' title='Army Lists'}}

    {{#content 'page-content'}}

        <div class="header">
            <div class="container">
                <h1 class="primary-heading">Army Lists</h1>
            </div>
        </div>

        <div class="container primary-content">
            <h2>Small Game</h2>
            {{> game-size-table small=2 medium=3 large=1}}

            <h2>Small Game Example Lists</h2>
            <div class="row">
                {{#each smallArmyLists}}
                    <div class="col-md-6 col-sm-12">
                        {{> army-list-table}}
                    </div>
                {{/each}}
            </div>

            <hr>
            <h2>Standard Game</h2>
            {{> game-size-table small=4 medium=5 large=2}}

            <h2>Standard Game Example Lists</h2>
            <div class="row">
                {{#each standardArmyLists}}
                    <div class="col-md-6 col-sm-12">
                        {{> army-list-table}}
                    </div>
                {{/each}}
            </div>
        </div>

    {{/content}}
{{/extend}}
