{{> header title="Downsync"}}
<body>
{{> nav}}
<div class="container">
    <h1>What is Downsync?</h1>
    <p>Downsync is a fast paced scifi miniature wargame in 15mm (1/100) scale.</p>
</div>

{{> footer }}
</body>
{{> close}}

