{{#extend 'layout/html' title='Downsync'}}

    {{#content 'page-content'}}
        <div class="header">
            <div class="container-ex">
                <h1 class="primary-heading">Downsync</h1>
                <h2 class="lead">A fast-paced 15mm scale sci-fi miniature wargame like nothing you've seen before.</h2>
            </div>
        </div>

        <div class="container primary-content">
            <p>

                <img src="assets/img/homepage/battleshot.jpg" class="img-fluid"
                     alt="Downsync miniatures on the battlefield"/>
            </p>

            <p class="text-center">
                <a href="https://fallen-games.com"
                   class="btn btn-primary btn-xl">Shop the Downsync Store {{> svg-icon icon='box'}}</a>
            </p>
            <hr/>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <h3>Play the Game</h3>
                    <ul class="link-list">
                        <li><a href="/rules.html">Game Rules</a></li>
                        <li><a href="/unit-cards.html">Unit Cards</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-4">
                    <h3>Join the Community</h3>
                    <ul class="link-list">
                        <li>
                            <a href="{{facebook_group_url}}">Facebook Group</a>
                        </li>
                        <li>
                            <a href="{{discord_url}}">Discord Server</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 d-none d-md-block">
                    <h4>&ldquo;All warfare is based on deception.&rdquo;</h4>
                    <p>&ndash;Sun Tzu</p>
                </div>
            </div>
            <p>
                <img src="assets/img/spider-drones-splash.jpg" class="img-fluid"
                     alt="Spider Drones patroling in the forest"/>
            </p>
        </div>

    {{/content}}
{{/extend}}
