{{#extend 'layout/html' title='Downsync'}}

    {{#content 'page-content'}}
        <div class="header">
            <div class="container">
                <h1 class="primary-heading">Downsync</h1>
            </div>
        </div>

        <div class="container primary-content">

            <h2 class="lead"> A fast-paced 15mm scale sci-fi miniature wargame currently in beta.</h2>
            <p>Join the Downsync <a href="{{facebook_group_url}}"> Facebook group</a> and <a
                href="{{discord_url}}">Discord Server</a>.
            </p>
            <p>
                <img src="assets/img/spider-drones-splash.jpg" class="img-fluid"/>
            </p>
            <p>
                <img src="assets/img/cover.jpg" class="img-fluid" alt="A game of Downsync being played"/>
            </p>
        </div>

    {{/content}}
{{/extend}}
