{{#extend 'layout/html' title='Order Form'}}

    {{#content 'meta'}}
        <META NAME="robots" CONTENT="noindex">
    {{/content}}

    {{#content 'page-content'}}

        <div class="container">
            <h1>Downsync Order Form</h1>
            <form
                name="order-v1"
                method="POST"
                data-netlify-recaptcha="true"
                data-netlify="true"
                enctype="multipart/form-data"
            >
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email">
                </div>

                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="phone" name="phone">
                </div>

                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <textarea class="form-control" id="address" name="address"></textarea>
                </div>

                <div class="mb-3">
                    <label for="coalition-count" class="form-label">Number of Coalition Starter Sets ($80 each)</label>
                    <input type="number" class="form-control" id="coalition-count" name="coalition_starter_count">
                </div>

                <div class="mb-3">
                    <label for="republic-count" class="form-label">Number of Republic Starter Sets ($80 each)</label>
                    <input type="number" class="form-control" id="republic-count" name="republic_starter_count">
                </div>

                <div class="mb-3">
                    <label for="receipt-image" class="form-label">Receipt Image</label>
                    <input type="file" class="form-control" id="receipt-image" name="receipt_image">
                </div>

                <div data-netlify-recaptcha="true"></div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    {{/content}}
{{/extend}}

