{{#extend 'layout/html' title='Downsync' body_class='page-quick-reference'}}

    {{#content 'page-content'}}
        <div class="header">
            <div class="container-ex">
                <div class="row">
                    <div class="col-md">
                        <h1 class="primary-heading">Downsync Quick Reference</h1>
                    </div>
                    <div class="col-md text-md-end">
                        <div class="my-1">

                            <a class="btn btn-primary" href="/quick-reference-print.html">
                                Printer Friendly Html
                                {{> svg-icon icon='html'}}
                            </a>

                            <a class="btn btn-primary" href="/assets/pdfs/quick-reference.pdf">Download Quick Reference
                                {{> svg-icon icon='pdf'}}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="primary-content">
            <div class="container container-quick-reference">
                {{> quick-reference-content}}
            </div>
        </div>

    {{/content}}
{{/extend}}
