{{#extend 'layout/html' title='Downsync Rules'  body_class='page-rulebook'}}

    {{#content 'page-content'}}
        <div class="container pt-2">

            <a class="btn btn-primary" href="/rules-print.html">
                Printer Friendly Html
                {{> svg-icon icon='html'}}
            </a>

            <a class="btn btn-primary"
               href="/assets/pdfs/rules-print.pdf">
                Download Rulebook
                {{> svg-icon icon='pdf'}}
            </a>

        </div>
        <div class="container rulebook">
            {{{convertedMarkdown}}}
        </div>
    {{/content}}

    {{#content 'page-content-after'}}
        <div class="offcanvas offcanvas-end offcanvas-toc no-print" tabindex="-1" id="offcanvas-toc"
             aria-labelledby="offcanvasExampleLabel"
             data-bs-scroll="true">
            <div class="offcanvas-header">
                <h3 class="offcanvas-title" id="offcanvasExampleLabel">Table of Contents</h3>
                <div>
                    <button type="button" class="btn-lock-toggle unlocked" id="toc-lock-toggle">
                        {{> svg-icon icon='locked' class='icon-locked'}}
                        {{> svg-icon icon='unlocked' class='icon-unlocked'}}
                    </button>

                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
            </div>
            <div class="offcanvas-body">
                {{{tocHtml}}}
            </div>
        </div>

        <button type="button" id="btn-table-of-contents" class="btn btn-secondary btn-table-of-contents no-print"
                aria-controls="offcanvasExample">
            TOC
        </button>
    {{/content}}
{{/extend}}


