{{#extend 'layout/html' title='Downsync'}}
    {{#content 'page-content'}}
        <div class="header">
            <div class="container-ex">
                <h1 class="primary-heading">Downsync Story</h1>
            </div>
        </div>

        <div class="container primary-content">
            <h2 class="lead">The story is a work in progress and may still be changed significantly.</h2>
            <p><a href="https://drive.google.com/drive/u/0/folders/11fvscO8r7P5gdgAG4wV8uLR_-KaHAZ65"
                  class="btn btn-lg btn-primary">Current story docs</a></p>
        </div>
    {{/content}}
{{/extend}}
