{{#extend 'layout/html' title='Starter Unit Cards Print' body_class="body-print"}}

    {{#content 'page-content'}}
        <div class="header">
            <div class="container-ex">
                <h1>Downsync Starter Set Unit Cards</h1>

                {{> starter-set-top-content}}

                <div class="row">
                    <div class="col">
                        <div id="vue-card-filter" class="m-1 d-inline-block"></div>
                        {{> btn-starter-view view='Print'}}
                    </div>
                    <div class="col">
                        <div class="float-md-end text-end m-1">
                            {{> btn-print}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-previews-container">
            <div class="output-container card-grid-container-to-scale-print">
                {{#each cardPages as |cardPage|}}
                    <div class="faction-{{faction_slug}}">
                        <div class="page page-preview page-letter" style="background-color:white">
                            <div class="page-card-grid">
                                {{#each cardPage.factionCards as |cardData|}}
                                    {{> (lookup cardData 'template') cardData}}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    {{/content}}

{{/extend}}
