{{> header title="Unit Cards"}}
<body>

{{> nav}}
<div class="container">

    <h1>Unit Cards</h1>
    <div class="web-cards output-container">
        {{#each cardData}}
            <h2 class="faction-heading">{{faction}}</h2>
            <div class="faction-cards">
                {{#each factionCards as |singleCardData|}}
                    {{> (lookup singleCardData 'template') singleCardData}}
                {{/each}}
            </div>
        {{/each}}
    </div>

</div>
</body>
{{> footer }}
