{{> header title="Starter Unit Cards Print"}}
<body class="page-preview-background">

<div class="no-print">
    {{> nav}}
</div>

<div class="output-container card-grid-container-to-scale-print">
    {{#each cardPages as |cardPage|}}

        <div class="page page-preview page-letter" style="background-color:white">
            <div class="page-card-grid">
                {{#each cardPage as |cardData|}}

                    {{> (lookup cardData 'template') cardData}}
                {{/each}}
            </div>
        </div>
    {{/each}}
</div>
</body>
{{> footer }}
